body {
    font-family: 'Raleway', sans-serif;
    color: #011627;
    background-color: #F1F2EB;
}


.navbar-brand {
    font-family: 'Lobster', cursive;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:hover {
    background-color: #F06543;
}

/* Jumbotron */

.jumbotron {
    height: calc(90vh);
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/burnt-background.png");
    background-size: cover;
}

.display-4 {
    font-weight: 900;
    font-family: 'Lobster', cursive;
    color: #011627;
}

.overlay-div{
    height:100%;
    width: 100%;
    position:absolute;
    background-color: #F06543;
    
 }

.navbar-custom { 
    background-color: #011627; 
}

#breadcrumbs {
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* cards */

h5 {
    font-weight: bold!important;
    color:#011627;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    object-position: top;
}

.btn {
    background-color: #011627;
    border: none;
    width: 50%;
}

.btn:hover {
    background-color: #F06543;
    color: #011627;
  }

.cardContainer {
    padding-bottom: 15px;
}

.card {
    border: none;
}

/* table */
.table {
    background-color: #F1F2EB;
}

.borderless td, .borderless th {
    border: none;
}

/* footer */
footer {
    background-color: #011627;
    height: 70px;
    width: 100%;
    z-index: 100;
    justify-content: space-around;
    align-content: center;
}

.social {
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

/* Media Queries */

@media only screen and (max-width: 1000px) {
    #navigation {
    display: none;
  }
    .icons {
    margin-left: auto;
  }

    h2 {
    font-size: 24px;
  }

    .card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    object-position: top;
}

@media only screen and (max-width: 600px) {
    #headline {
    position: static;
    margin: 20px;
  }
}
}